html {
  height: 100%;
  min-height: 480px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 275px;

}

.upload .files {
  display: none;
}

.upload .area {
  position: absolute;
  width: 100px;
  height:50%;
  left: -10000px;
  right: -10000px;
  margin: auto;
  border: 10px dashed #ccc;
  cursor: pointer;
  min-height: 200px;
  margin-top: 10px;
}

.upload .area.hover {
  border: 10px dashed #0c0;
}

.upload .area:hover {
  border: 10px dashed #0c0;
}

.upload .area .text {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}

.upload .preview {
  position: absolute;
  width: 100%;
  margin: 5px;
  bottom: 0px;
  left: 0px;
  overflow-y: scroll;

}

.upload .preview canvas {
    margin-right: 4px;
}


/* buttons bar */
.upload .controls {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #ccc;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

}

/* buttons */
.upload .controls > a {
  position: relative;
  cursor: pointer;
  float: right;
  margin: 10px 0px 10px 10px;
}

/* buttons */
.upload .controls > a > div {
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  text-align: center;
  padding: 10px;

}

.upload .controls > a:hover > div {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.upload .controls > a:active > div {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

/* button icon */
.upload .controls span.fa  {
  margin-left: 10px;
}

.upload .controls > a.removeall {
  float: left;
}

.upload .controls > a.addpictures {
  margin-right: 10px;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.enable-selection {
     -moz-user-selet: all; /* Firefox */
      -ms-user-select: all; /* Internet Explorer */
   -khtml-user-select: all; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: all; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: all; /* Disable Android and iOS callouts*/
}

#plupload {
  height: 100%;
  width: 100%;
}

.plupload_wrapper, .plupload_container {
  height: 100%;
}

.plupload_wrapper {
  min-width: 300px;
}
 
.plupload_header_title, .plupload_logo, .plupload_header_text {
  display: none;
}
 
.plupload_header_content {
  height: 42px;
}

.plupload_view_thumbs .plupload_content {
  top: 42px;
}

.plupload_center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 30px;
  margin-left: -100px;
  margin-top: -15px;
}

.plupload_started .plupload_total_status {
  position: absolute;
   top: 0px;
   text-align: center;
   width: 200px;
   height: 30px;
   font-size: 12px;
   line-height: 30px;
}

.plupload_started {
    background-color: rgba(189,231,249,0.94);
    box-shadow: 0px 0px 1px 100000px rgba(0,0,0,0.3);
    width: 240px;
    z-index: 1;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -90px;
    border: 1px solid grey;
    border-radius: 12px
;text-align: center;
}

.plupload_started .plupload_progress_title {
  font: bolder 12px Helvetica,sans-serif;
  line-height: 40px;
}

.plupload_started .plupload_speed_status {
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

.plupload_started .cancel {
  float: right;
  margin: -2px;
  transform: scale(1.4);
  background-color: rgba(189,231,249,0.94);
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px;
  
}

.plupload_view_thumbs div.plupload_file_action {
  background-color: white;
  margin: 1px;
  border:1px solid  rgba(189,231,249,0.94);
  box-shadow: 1px 1px 1px;
  border-radius: 100px;
  
}

.disable_pointer_events {
  pointer-events: none;
}

.plupload_started .cancel {
  pointer-events: all;
}

.plupload_view_list .plupload_file_progress {
 display: block;
 height: 18px;
 position: absolute; 
 border: 0px;
 background: rgba(0,0,0,0.2);
}

.plupload_view_list .plupload_file_percent {
  z-index: 1;
  text-align: center;
  width: 100%;
  line-height: 18px;
  position: absolute;
}

li.plupload_file.ui-selected {
  background-color: cyan;
}

.plupload_view_thumbs .plupload_file_action:has(.ui-icon-circle-minus) {
  display: none;
}


.plupload_invisible {
  visibility: hidden;
}

.plupload_file_status {
  visibility: hidden;
}

.plupload_uploading .plupload_file_status {
  visibility: visible;

}

.plupload_file_progress_border {
  width: 100%;
  height:18px;
  margin-top: -3px;
  position: absolute;
  border: 1px solid gray;
}

.termsAndConditions {
  position: absolute;
   width: 100%;
   height: 100%;
  background-color: black;

}

.termsAndConditions .frame {
  position: relative;
  height: 480px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 50%;
  margin-top: -240px;
  border: 1px solid gray;
  border-radius: 480px 480px 0px 0px;
  box-shadow: 0px 0px 10px 1px white;
  font-size: 5px;
  background-color: white;
}

.termsAndConditions .text {
  padding: 100px 50px 25px 50px;
}

.termsAndConditions .button {

  border-radius: 50px;
  width: 100px;
  height: 100px;
  outline: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;

}

.plupload_file_name span {
  pointer-events: none;
}